/LaFuriaDeGuaitara/build/
/LaFuriaDeGuaitara/dist/
/LaFuriaDeGuaitara/nbproject/private/
/LaFuriaDeGuaitara/nbbuild/
/LaFuriaDeGuaitara/nbdist/
/LaFuriaDeGuaitara/nbactions.xml
/LaFuriaDeGuaitara/nb-configuration.xml